In [1]:
import pandas as pd

In [4]:
# 1. Прочитайте csv файл (метод read_csv)
data = pd.read_csv("bestsellers_with_categories.csv")
data

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [5]:
# 2.	Виведіть перші 10 рядків (метод head)
data.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [6]:
# 3.	Виведіть розміри датасету (метод shape). Питання: Про скільки книг зберігає дані датасет?
data.shape
# датасет містить інформацію про 550 книг.

(550, 7)

In [11]:
# 4. Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.

data.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
data

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [17]:
# 5.	Вивести кількість пропусків у кожному стовпчику.
# Питання : Чи є в якихось змінних пропуски? (Так / ні)
data.isna().sum()

# Пропущені змінні відсутні

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

In [21]:
# 6.	За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre
# Питання : Які є унікальні жанри?
data['genre'].unique()

# Унікальним жанром є Fiction

array(['Non Fiction', 'Fiction'], dtype=object)

In [26]:
# 7.	Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median

print("Max prise:    ", data['price'].max(), "\n"
      "Min prise:    ", data['price'].min(), "\n"
      "Mean prise:   ", data['price'].mean(), "\n"
      "Median prise: ", data['price'].median(), "\n")

# Питання: Максимальна ціна?
# Питання: Мінімальна ціна?
# Питання: Середня ціна?
# Питання: Медіанна ціна?

Max prise:     105
Min prise:     0
Mean prise:    13.1
Median prise:  11.0

In [100]:
# 8.	Виконайте наступні завдання з пошуку і сортування даних
# Питання: Який рейтинг у датасеті найвищий?
print("Max rating:    ", data['user_rating'].max())

# Питання: Скільки книг мають такий рейтинг?
print("Books with same rating: ", len(data[data['user_rating'] == data['user_rating'].max()]) )

# Питання: Яка книга має найбільше відгуків?
# print("Max reviews book:    \n", data[data["reviews"] == data["reviews"].max()]['name'])
print("Max reviews book: ",
      data.sort_values(by=["reviews", "name"]).tail(1)["name"].to_string(index=False))

# Питання: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
top_10 = data[data["year"] == 2010].sort_values(by = ["user_rating"]).tail(50)
print("Max price from 2010:" ,top_10[top_10["price"] == top_10["price"].max()]["name"].to_string(index=False))

# m_exp_book = data['year'] == 2010]['prise'].idxmax()
# print(data.loc[m_exp_book]['name'])

# Питання : Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році
top_12 = data[data["year"] == 2012].sort_values(by = ["user_rating"]).tail(50)
print("Fiction from 2012:" , top_12['genre'][top_12['genre'] == 'Fiction'].count())

# Питання : Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)?
r_10 = data[data["year"] == 2010].sort_values(by = ["user_rating"]).tail(50)
r_11 = data[data["year"] == 2011].sort_values(by = ["user_rating"]).tail(50)

new_r = pd.concat([r_10,r_11]).sort_values(by = ['user_rating']).tail(50)
print("Amount of 4.9 rating in top-50 from 2010 adn 2011:" , new_r['user_rating'][new_r['user_rating'] == 4.9].count())

Max rating:     4.9
Books with same rating:  52
Max reviews book:  Where the Crawdads Sing
Max price from 2010: Publication Manual of the American Psychologica...
Fiction from 2012: 21
Amount of 4.9 rating in top-50 from 2010 adn 2011: 1

In [105]:
# 9.	Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg, для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.


genre_price = data.groupby('genre')[['price']]
result = genre_price.agg({'price': ['min', 'max']})

print(result)

            price
              min  max
genre
Fiction         0   82
Non Fiction     0  105